{% extends 'schedule/index.html' %}
{% load widget_tweaks %}

{% block content %}
	{% if list_of_tasks %}
		{% for task in list_of_tasks %}
			<div class="task">
				<div class="taskname">{{ task.task_topic }}</div>
				
					<div class="due-date">
					{%if task.due_date %}
						Finish by: {{ task.due_date }}
					{% endif %}
					{% if user.is_authenticated %}
						<a class="btn btn-default" href="{% url 'schedule:task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
						<a class="btn btn-default" href="{% url 'schedule:task_remove' pk=task.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
					{% endif %}
					</div>
				<div class="desc">{{ task.task_text|linebreaks }}</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No tasks are available.</p>
	{% endif %}
	
	<br><hr>
	<h2>New Task</h2>
	<form action="{% url 'schedule:task_add' %}" method="POST" class="post-form new-task">{% csrf_token %}
		
		<!--Expands the {{ form }} so that we have more control over its display-->	
		{% for hidden_field in form.hidden_fields %}
			{{ hidden_field }}
		{% endfor %}
		
		{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				{% for error in form.non_field_errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% endif %}
		
		{% for field in form.visible_fields %}
			<div class="form-group">
				{{ field.label_tag }}
				
				{% if form.is_bound %}
					{% if field.errors %}
						{{ field|add_class:'form-control is-invalid' }}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						{{ field|add_class:'form-control is-valid' }}
					{% endif %}
				{% else %}
					{{ field|add_class:'form-control' }}
				{% endif %}
				
				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% endfor %}
		
		<button type="submit" class="save btn btn-primary">Add task</button>
	</form>
{% endblock %}